div{
 
  height:50rem;
}
button{
  position:relative;
  left:40rem;
  top:20rem;
  width:15rem;
  height:5rem;
  font-size: 2rem;
  border-radius: 1rem;
  border-color: white;
  border-radius: 1rem;;
}